#app,
.layout {
    height: 100%;
}

.layout {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 1.5em;
    background: rgba(white, 0.2);
    box-shadow: 0 2px 5px rgba(gray, 0.26);
    display: flex;
    align-items: center;

    h2 {
        line-height: 1;
        font-size: 1.5rem;
        margin: 0;
        color: white;
    }
}

.main {
    flex: 1 1 0;
    box-sizing: border-box;
    display: block;
}

.footer {
    background: rgba(white, 0.2);
    min-height: 2rem;
    box-shadow: 0 -2px 5px rgba(gray, 0.26);
    display: flex;
}

@import "FooterNav";
