#app,
.layout {
    height: 100%;
}

.layout {
    display: flex;
    flex-direction: column;
}

.header {
    background: rgba(white, 0.2);
    box-shadow: 0 2px 5px rgba(black, 0.26);
    align-items: center;
    padding: 0;

    h2 {
        line-height: 1;
        font-size: 1.5rem;
        font-weight: 200;
        margin: 1.5rem;
        color: white;
    }
}

.main {
    flex: 1 1 0;
    box-sizing: border-box;
    display: block;
    overflow: auto;
    position: relative;
}

.footer {
    background: rgba(white, 0.2);
    min-height: 2rem;
    box-shadow: 0 -2px 5px rgba(black, 0.26);
    display: flex;
}

@import "FooterNav";
