.contact {
    padding: 1rem 1rem 1rem 4rem !important;
    position: relative;

    img {
        position: absolute;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        left: 1rem;
        top: 0.75rem;
    }
}