
html {
    background: white;
}

body {
    max-width: 500px;
    max-height: 1024px;
    background: black;
    margin: auto;
}

@import "components/index";
@import "layout/index";
@import "routes/index";
